body, html {
    margin: 0;
    padding: 0;
    overflow-y: hidden;  
}

.header{
    background-color: #4c7064;
    padding: 5px;
}

.header-title{
    color: #000000;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 400px;
}

.container img {
    max-width: 100%;
    height: auto;       
    display: block;
    margin: 0 auto;    
    }

.image-wrapper{
    position: absolute;
}

.details-form{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
    float: left;
    position: absolute;
    background-color: rgba(200, 200, 200,0.5);
    width: 30%;
    border-radius: 25px;
    box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.25);
    /* justify-self: anchor-center; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.textarea{
    border-block-style: revert-layer;
    border-radius: 5px;
    border-style: none;
    width: 300px;
    height: 35px;
    text-align: center;
    box-sizing: border-box;
}

.date-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 250px; 
    box-sizing: border-box;
}

.Passengers{
    border-block-style: revert-layer;
    border-radius: 5px;
    border-style: none;
    width: 50px;
    height: 35px;
    text-align: center;
    box-sizing: border-box;
}

.Right-side{
    float: left;
    width: 30%;
}

.footerbar {
    background-color: #4c7064;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footerbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footerbar li {
    display: inline;
    margin: 0 15px;
}

.footerbar a {
    color: #333;
    text-decoration: none;
}

.footerbar a:hover {
    color: #007BFF;
    text-decoration: underline;
}


button:hover{
    cursor: pointer;

}

.loginbtn {
    background-color: #007BFF;     
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.loginbtn:hover {
    background-color: #0056b3;
}

.loginbtn:active {
    background-color: #004080;
}

