body{
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}

.header{
    background-color: #4c7064;
    padding: 5px;
}

.header-title{
    color: #000000;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 400px;
}

.container img {
    max-width: 100%;
    height: auto;       
    display: block;
    margin: 0 auto;    
    }

.image-wrapper{
    position: absolute;
}


.head{
    margin: 100px 0px 0px 150px;
    text-align: center;
    position: absolute;
    background-color: rgba(200, 200, 200,0.5);
    width: 30%;
    padding: 5px 0px 5px 0px;
    border-radius: 25px;
    box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.25);
    /* justify-self: anchor-center; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head a{
    text-decoration: none;
}

.textarea{
    border-block-style: revert-layer;
    border-radius: 5px;
    border-style: none;
    width: 300px;
    height: 35px;
    text-align: center;
}

.login-head{
    font-family: 'Poppins', sans-serif;
    color: white;
}



.login-items{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.links a{
    float: left;
    /* padding: 5px; */
    /* margin-top: 500px; */
    text-decoration: none;
}

.footerbar {
    background-color: #4c7064;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footerbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footerbar li {
    display: inline;
    margin: 0 15px;
}

.footerbar a {
    color: #333;
    text-decoration: none;
}

.footerbar a:hover {
    color: #007BFF;
    text-decoration: underline;
}


button:hover{
    cursor: pointer;

}

.loginbtn {
    background-color: #007BFF;     
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* transition: background-color 0.3s ease, transform 0.2s ease; */
}

.loginbtn:hover {
    background-color: #0056b3;
    transform: scale(1.03);
}

.loginbtn:active {
    background-color: #004080;
    transform: scale(0.98);
}
